@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This is a comment in CSS. It doesn't affect the code. It's just for you to understand what's happening. */
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-family: "Funnel Sans";
}

.landing-page {
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1474&amp;q=80);
  background-position: center;
  background-size: cover;
  /* This makes the background image a bit transparent. */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.312);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; /* This makes the overlay cover the entire landing page. */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 3vw;
}

.nav h1 {
  color: white;
}
.nav-center a {
  color: white;
  text-decoration: none;
  padding: 0vh 3vw;
}

.nav-right i {
  color: white;
  margin-left: 2.5vw;
}

.centre h4 {
  color: white;
  position: absolute;
  border: 1px solid white;
  border-radius: 5px;
  top: 35%;
  left: 45%;
  transform: translateX(-50%, -50%);
  padding: 1vh 2vw;
  letter-spacing: 0.1vw;
}

.text {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 34%;
  text-transform: uppercase;
  padding: 1vh 0;
  transform: translateX(-50%, -50%);
  font-size: 2vw;
}
